/* Spacing Utilities */
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .pt-8 {
    padding-top: 8px;
  }
  
  .pb-4 {
    padding-bottom: 4px;
  }
  
  .pa-1 {
    padding: 1px;
  }
  
  .ml-6 {
    margin-left: 6px;
  }
  
  .mr-24 {
    margin-right: 24px;
  }
  
  .mt-12 {
    margin-top: 12px;
  }

  .mt-20 {
    margin-top: 20px;
  }
  
  /* Font Sizes */
  .fs-10 {
    font-size: 10px;
  }
  
  .fs-12 {
    font-size: 12px;
  }
  
  /* Display Utilities */
  .d-inline {
    display: inline-block;
    vertical-align: middle;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-block {
    display: block;
  }
  