$color-primary: #4b59d0;
$color-primary-80: #626edb;
$color-primary-60: #3940e0;
$color-primary-40: #3b43ff;
$color-primary-darker: #3f49a3;
$color-primary-lighter: #5158ff;
$color-secondary: #e06b44;
$color-secondary-lighter: #e48566;
$color-secondary-darker: #bf5735;
$color-neutral: #2a2a2a;
$color-neutral-85: #303149;
$color-neutral-80: #434960;
$color-neutral-70: #47485d;
$color-neutral-65: #5e5f72;
$color-neutral-60: #5e6071;
$color-neutral-50: #656470;
$color-neutral-40: #898699;
$color-neutral-30: #9e9eab;
$color-neutral-20: #b6b6c2;
$color-neutral-15: #c9c9d6;
$color-neutral-10: #f0f0f5;
$color-neutral-6: #dadada;
$color-neutral-5: #e2e4eb;
$color-neutral-4: #f8f8fb;
$color-neutral-3: #f8f8f8;
$color-neutral-2: #f7f7f8;
$color-white: #fff;
$color-red: #df2a35;
$color-red-darker: #ab2028;
$color-red-lighter: #f83c47;
$color-accent-lighter: #3b43ff;
$color-accent: #46b450;
$color-green: #59a56d;
$color-green-darker: #559d69;
$color-green-lighter: #5eac72;
$color-green-60: #21a011;
$color-body: #f0f0f1;
$color-transparent: #0000;
